{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "safari": "10",
                    "edge": "15",
                    "ie": "11",
                    "firefox": "50",
                    "chrome": "49"
                }
            }
        ],
        "@babel/preset-react"
    ]
}
