{
    "extends": "airbnb-base",
    "env": {
        "node": true
    },
    "rules": {
        "indent": ["warn", 4],
        "react/jsx-indent": ["warn", 4],
        "react/prop-types": "off"
    }
}
